global
  log  			127.0.0.1 local2
  chroot       		/var/lib/haproxy
  pidfile      		/var/run/haproxy.pid
  maxconn      		4000
  user 			haproxy
  group			haproxy
  daemon

defaults
  log  			global
  mode 			http
  option       		httplog
  option       		dontlognull
  retries      		3
  option       		redispatch
  maxconn      		2000
  timeout connect      	5000
  timeout client       	50000
  timeout server       	50000


frontend lb.devops.com
  bind			*:80
  stats uri		/haproxy?stats
  default_backend	zabbix-web.devops.com

backend zabbix-web.devops.com
  balance 		roundrobin
  server		zabbix-web1.devops.com 192.168.144.13:80 check fall 3 rise 2
  server		zabbix-web2.devops.com 192.168.144.14:80 check fall 3 rise 2
